<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:s="http://typo3.org/ns/WEBcoast/VersatileSearch/ViewHelpers" data-namespace-typo3-fluid="true">
<li class="result__item">
    <h2 class="result__title">
        <f:switch expression="{resultItem.type}">
            <f:case value="page">
                <f:link.page pageUid="{resultItem.pageId}" additionalParams="{resultItem.urlParameters}" noCacheHash="!{resultItem.useCacheHash}">{resultItem.title}</f:link.page>
            </f:case>
            <f:case value="file">
                <f:link.typolink parameter="file:{resultItem.recordId}">{resultItem.title}</f:link.typolink>
            </f:case>
        </f:switch>
    </h2>
    <p class="result__description">{resultItem.description -> s:highlightSearchWord(searchWords: '{searchWords}')}</p>
</li>
</html>
