<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/ViewHelper" xmlns:s="http://typo3.org/ns/WEBcoast/VersatileSearch/ViewHelpers" data-namespace-typo3-fluid="true">
<nav class="pagination" role="doc-page-list">
    <ul class="pagination__list">
        <f:if condition="{pagination.previousPageNumber}">
            <li class="pagination__item pagination__item--previous">
                <f:if condition="{pagination.previousPageNumber} > 1">
                    <f:then>
                        <f:link.page rel="prev" class="pagination__link" additionalParams="{s:merge(base: {q: searchString, page: pagination.previousPageNumber}, merge: additionalPaginationParams)}">
                            <f:if condition="{settings.pagination.translatePreviousNext}">
                                <f:then>
                                    <f:translate id="pagination.previous"/>
                                </f:then>
                                <f:else>
                                    &nbsp;
                                </f:else>
                            </f:if>
                        </f:link.page>
                    </f:then>
                    <f:else>
                        <f:link.page rel="prev" class="pagination__link" additionalParams="{s:merge(base: {q: searchString}, merge: additionalPaginationParams)}">
                            <f:if condition="{settings.pagination.translatePreviousNext}">
                                <f:then>
                                    <f:translate id="pagination.previous"/>
                                </f:then>
                                <f:else>
                                    &nbsp;
                                </f:else>
                            </f:if>
                        </f:link.page>
                    </f:else>
                </f:if>
            </li>
        </f:if>
        <f:if condition="{pagination.displayRangeStart} > 1">
            <li class="pagination__item pagination__item--first">
                <f:link.page class="pagination__link" additionalParams="{s:merge(base: {q: searchString}, merge: additionalPaginationParams)}"><f:translate id="pagination.page" arguments="{0: 1}" /></f:link.page>
            </li>
        </f:if>
        <f:if condition="{pagination.hasLessPages}">
            <li class="pagination__item pagination__item--more">…</li>
        </f:if>
        <f:for each="{pagination.allPageNumbers}" as="page">
            <f:if condition="{page} == {paginator.currentPageNumber}">
                <f:then>
                    <li class="pagination__item is-active">
                        <f:translate id="pagination.page" arguments="{0: page}" />
                    </li>
                </f:then>
                <f:else>
                    <li class="pagination__item">
                        <f:if condition="{page} > 1">
                            <f:then>
                                <f:link.page class="pagination__link" additionalParams="{s:merge(base: {q: searchString, page: page}, merge: additionalPaginationParams)}"><f:translate id="pagination.page" arguments="{0: page}" /></f:link.page>
                            </f:then>
                            <f:else>
                                <f:link.page class="pagination__link" additionalParams="{s:merge(base: {q: searchString}, merge: additionalPaginationParams)}"><f:translate id="pagination.page" arguments="{0: page}" /></f:link.page>
                            </f:else>
                        </f:if>
                    </li>
                </f:else>
            </f:if>
        </f:for>
        <f:if condition="{pagination.hasMorePages}">
            <li class="pagination__item pagination__item--more">…</li>
        </f:if>
        <f:if condition="{pagination.displayRangeEnd} > 1 && {pagination.displayRangeEnd} < {pagination.lastPageNumber}">
            <li class="pagination__item pagination__item--last">
                <f:link.page class="pagination__link" additionalParams="{s:merge(base: {q: searchString, page: pagination.lastPageNumber}, merge: additionalPaginationParams)}"><f:translate id="pagination.page" arguments="{0: pagination.lastPageNumber}" /></f:link.page>
            </li>
        </f:if>
        <f:if condition="{pagination.nextPageNumber}">
            <li class="pagination__item pagination__item--next">
                <f:link.page class="pagination__link" additionalParams="{s:merge(base: {q: searchString, page: pagination.nextPageNumber}, merge: additionalPaginationParams)}">
                    <f:if condition="{settings.pagination.translatePreviousNext}">
                        <f:then>
                            <f:translate id="pagination.next"/>
                        </f:then>
                        <f:else>
                            &nbsp;
                        </f:else>
                    </f:if>
                </f:link.page>
            </li>
        </f:if>
    </ul>
</nav>
</html>
