<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/ViewHelper" xmlns:s="http://typo3.org/ns/WEBcoast/VersatileSearch/ViewHelpers" data-namespace-typo3-fluid="true">
<nav class="pagination" role="doc-page-list">
    <ul class="pagination__list">
        <f:if condition="{pagination.previousPageNumber}">
            <li class="pagination__item pagination__item--previous">
                <f:if condition="{pagination.previousPageNumber} > 1">
                    <f:then>
                        <s:pagination.link page="{pagination.previousPageNumber}" rel="prev" class="pagination__link" settings="{settings}" additionalParams="{additionalPaginationParams}">
                            <f:if condition="{settings.pagination.translatePreviousNext}">
                                <f:then>
                                    <f:translate id="pagination.previous"/>
                                </f:then>
                                <f:else>
                                    &nbsp;
                                </f:else>
                            </f:if>
                        </s:pagination.link>
                    </f:then>
                    <f:else>
                        <s:pagination.link settings="{settings}" rel="prev" class="pagination__link">
                            <f:if condition="{settings.pagination.translatePreviousNext}">
                                <f:then>
                                    <f:translate id="pagination.previous"/>
                                </f:then>
                                <f:else>
                                    &nbsp;
                                </f:else>
                            </f:if>
                        </s:pagination.link>
                    </f:else>
                </f:if>
            </li>
        </f:if>
        <f:if condition="{pagination.displayRangeStart} > 1">
            <li class="pagination__item pagination__item--first">
                <s:pagination.link page="{pagination.previous}" class="pagination__link" settings="{settings}" additionalParams="{additionalPaginationParams}"><f:translate id="pagination.page" arguments="{0: 1}" /></s:pagination.link>
            </li>
        </f:if>
        <f:if condition="{pagination.hasLessPages}">
            <li class="pagination__item pagination__item--more">…</li>
        </f:if>
        <f:for each="{pagination.allPageNumbers}" as="page">
            <f:if condition="{page} == {paginator.currentPageNumber}">
                <f:then>
                    <li class="pagination__item is-active">
                        <f:translate id="pagination.page" arguments="{0: page}" />
                    </li>
                </f:then>
                <f:else>
                    <li class="pagination__item">
                        <f:if condition="{page} > 1">
                            <f:then>
                                <s:pagination.link page="{page}" class="pagination__link" settings="{settings}" additionalParams="{additionalPaginationParams}"><f:translate id="pagination.page" arguments="{0: page}" /></s:pagination.link>
                            </f:then>
                            <f:else>
                                <s:pagination.link class="pagination__link" settings="{settings}"><f:translate id="pagination.page" arguments="{0: page}" /></s:pagination.link>
                            </f:else>
                        </f:if>
                    </li>
                </f:else>
            </f:if>
        </f:for>
        <f:if condition="{pagination.hasMorePages}">
            <li class="pagination__item pagination__item--more">…</li>
        </f:if>
        <f:if condition="{pagination.displayRangeEnd} > 1 && {pagination.displayRangeEnd} < {pagination.lastPageNumber}">
            <li class="pagination__item pagination__item--last">
                <s:pagination.link class="pagination__link" settings="{settings}" page="{pagination.lastPageNumber}" additionalParams="{additionalPaginationParams}"><f:translate id="pagination.page" arguments="{0: pagination.lastPageNumber}" /></s:pagination.link>
            </li>
        </f:if>
        <f:if condition="{pagination.nextPageNumber}">
            <li class="pagination__item pagination__item--next">
                <s:pagination.link class="pagination__link" settings="{settings}" page="{pagination.nextPageNumber}" additionalParams="{additionalPaginationParams}">
                    <f:if condition="{settings.pagination.translatePreviousNext}">
                        <f:then>
                            <f:translate id="pagination.next"/>
                        </f:then>
                        <f:else>
                            &nbsp;
                        </f:else>
                    </f:if>
                </s:pagination.link>
            </li>
        </f:if>
    </ul>
</nav>
</html>
