<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/ViewHelper" xmlns:s="http://typo3.org/ns/WEBcoast/VersatileSearch/ViewHelpers" data-namespace-typo3-fluid="true">

<f:if condition="{paginator.numberOfPages} > 1">
    <f:then>
        <f:if condition="{settings.pagination.insertAbove}">
            <f:render partial="Pagination" arguments="{_all}" />
        </f:if>

        <ul class="result__list">
            <f:for each="{results}" as="rawItem">
                <s:convertRawResult raw="{rawItem}">
                    <f:render partial="Item" arguments="{_all}"/>
                </s:convertRawResult>
            </f:for>
        </ul>

        <f:if condition="{settings.pagination.insertBelow}">
            <f:render partial="Pagination" arguments="{_all}" />
        </f:if>
    </f:then>
    <f:else>
        <ul class="result__list">
            <f:for each="{results}" as="rawItem">
                <s:convertRawResult raw="{rawItem}">
                    <f:render partial="Item" arguments="{_all}"/>
                </s:convertRawResult>
            </f:for>
        </ul>
    </f:else>
</f:if>
</html>
